body {
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #f3f1d2;
}

#encabezado{
    text-align: center;
    padding: 0.5%;
}

#contenido {
	margin: 20px auto;
	width: 95%;
}

input {
	padding: 4px 8px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0.5em;
}

label {
    font-size: small;
}

button {
	padding: 5px 8px;
	background-color: #b6d862;
	color: rgb(0, 0, 0);
    border-radius: 0.5em;
}

#btnBorrar{
    float: right;
}

#pie{
    padding: 9.5%;
    text-align: center;
}

#tituloRegistro{
    text-align: center;
}

#imcProm{
    font-weight: bold;
    font-size: smaller;
}

#tituloProm{
    font-weight: bold;
    font-size: smaller;
}